@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 5px 10px;
  font-family: 'Saira Condensed', sans-serif;
}